
@using DMFProjectFinal.Models
@using DMFProjectFinal.Controllers
@model DMFProjectFinal.Models.DTO.DTO_CommitteeDesignation

@{
    ViewBag.Title = "CreateCommitteeDesignation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="divform">
    <div class="card-body">
        @using (Html.BeginForm((String.IsNullOrEmpty(Model.CommitteeDesignationId) ? "CreateCommitteeDesignation" : "EditCommitteeDesignationMaster"), "Master", new { }, FormMethod.Post, new { @role = "form", @id = "frmCurrent", enctype = "multipart/form-data" }))
        {
            <div class="row">
                @Html.HiddenFor(x => x.CommitteeDesignationId)
               

                <div class="col-md-3">
                    <div class="form-label">
                        <strong> Name <sup><code>*</code></sup></strong>
                        @Html.TextBoxFor(x => x.CommitteeDesignationName, "", new { @class = "form-control form-control-sm", @autocomplete = "off" })

                    </div>
                </div>




                <div class="col-md-3 text-left">
                    <div class="form-label">
                        <strong>&nbsp;</strong>
                        <input type="submit" id="btnSubmit" value="@(String.IsNullOrEmpty(Model.CommitteeDesignationId)?"Save":"Update")" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
