

@using DMFProjectFinal.Models
@using DMFProjectFinal.Models.DTO
@using DMFProjectFinal.Controllers
@{
    ViewBag.Title = "ProjectProposalPrepration";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>ProjectProposalPrepration</h2>

