@model DMFProjectFinal.Models.DTO.P_ChangePassword
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<style>
    .my-fa {
        font-size: 24px;
        margin-right: 6px;
    }

    code {
        font-size: 15px !important;
    }

    strong a {
        margin-left: 10px;
        color: #00f;
    }
</style>
<section class="inner-bg bg-card-dark ">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="cmt-page-title-row-inner">
                    <div class="page-title-heading">
                        <h2 class="title">Change Password</h2>
                    </div>
                    <div class="breadcrumb-wrapper">
                        <span>
                            <a title="Homepage" href="#">होम</a>
                        </span>
                        <span>Change Password</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="site-main">
    <!--about-section-->

    @if (ViewBag.Msg != null && ViewBag.Msg.ToString() != "")
    {
        <div class="row">
            <div class="col-lg-12 text-center">
                <label class="text-success">@ViewBag.Msg</label>
            </div>
        </div>
    }

    <section class="cmt-row clearfix">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-card">
                        <div class="form-card-body">
                            <div class="tab-content">
                                <div class="active tab-pane">
                                    @using (Html.BeginForm("ChangePassword", "Home", new { }, FormMethod.Post, new { @role = "form", enctype = "multipart/form-data" }))
                                    {
                                        <div class="row">
                                            <div class="col-xs-6 col-sm-6 col-md-4">
                                                <div class="form-label">
                                                    <strong>Old Password<sup><code>*</code></sup></strong>
                                                    @Html.TextBoxFor(x => x.OldPass, "", new { @class = "form-control form-control-sm", @required = "required", @type = "password" })
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-4">
                                                <div class="form-label">
                                                    <strong>New Password<sup><code>*</code></sup></strong>
                                                    @Html.TextBoxFor(x => x.NewPass, "", new { @class = "form-control form-control-sm", @required = "required", @type = "password" })
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-4">
                                                <div class="form-label">
                                                    <strong>Confirm Password <sup><code>*</code></sup></strong>
                                                    @Html.TextBoxFor(x => x.ConfirmPass, "", new { @class = "form-control form-control-sm", @required = "required", @type = "password" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 text-center">
                                                <input type="submit" value="Change Password" onclick="return ComparePass()" class="btn btn-primary" />
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- row end -->
        </div>

    </section>

</div>
@section Scripts {
   <script>
       function ComparePass() {
           if ($('#NewPass').val() != $('#ConfirmPass').val()) {
               swal('Warning','New Password and confirm password should be equal !','warning');
               $('#ConfirmPass').focus();
               return false;
           }
           else {
               return true;
           }
       }
    </script>
}

